<!DOCTYPE html>

<html>
	<head>
	    <meta charset="utf-8" />
	    <title>  Ajout d'emails à la blacklist </title>
	</head>
	
	<body>
		{% if done %}
		<p>Import terminé :
			<ul><li>{{success}} importé{{success|pluralize}}</li>
			<li>{{redundant}} doublon{{redundant|pluralize}}</li></ul>
		</p>
		{% endif %}
	
		<form action="{% url "Mail_blacklist.views.addListEmail" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Valider" name="send" />
		</form>
		<p><a href="{% url "Mail_blacklist.views.home"%}">Retour</a></p>
	</body>
</html>